
body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*header and hero style*/

.header {
    margin: 0;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap
}

.header, .hero {
    background-color: #1F2937;

}

.logo {
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

a, .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0 0 10px 0;
    
}

.secondary-text {
    margin: 0 0 10px 0;
}

.sign {
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    padding: 5px 30px;
    border-radius: 8px;
    font-size: 18px;
}

.hero-img {
    width: 500px;
    height: auto;
}

